<h1>Activate Page</h1>

<%= @student.active %>
<!-- <%= form_for @student do |f| %>
<div class="field">
   <%= f.label :active %><br />
   <%= f.label :active, "Yes", :value => "true"  %>
   <%= f.radio_button :active, true %>
   <%= f.label :active, "No", :value => "false" %>
   <%= f.radio_button :active, false, :checked => true %>
 </div>
 <% end %> -->
