<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %></div>

    <div><a href='<%="/students/#{student.to_s}" %>'><%=student.to_s%></a></div>
    <div><%=link_to student.to_s, "/students/#{student.id}"%></div>
    <div><%=link_to student.to_s, student_path(student.id)%></div>
  <% end %>
</div>
