<div>
  <% @students.each do |student| %>
    <!-- <div><a href="<%= "/students/#{student.id}" %>"><%= student.first_name + " " + student.last_name %></a></div> -->
    <!-- <div><%= link_to student.to_s, "/students/#{student.id}" %></div> -->
    <!-- <div><%= link_to student.to_s, student_path(student.id) %></div> -->
    <!-- All above lines are alternatives to line below -->
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>
